body{text-align:left;margin:0%}
/*-----------------------------------------------------Links-----------------------------------------------------*/
/* this controls the stars */
.checked{color:orange}
/*-----------------------------------------------------Links-----------------------------------------------------*/
/* this controls the image lago */
.image-header{text-align:left;font-size:20px}
a{color:black;text-align:left;text-decoration:none}
a:hover{color:black;text-decoration:none}
/*-------------------------------------------------------*/
.container{position:relative;width:100%;padding-left:0%;padding-right:0%;border:}
.container1{position:relative;width:100%;padding-left:0%;padding-right:0%;border:solid white;height:150px}
.image{display:block;width:100%;height:auto}
.overlay{position:absolute;top:0;bottom:0;height:100%;width:100%}
.icon{color:black;font-size:50px;position:absolute;top:0%;left:90.99%;text-align:center}
/* .bottomEmpty{border:solid white;height:125px} */
/* .onTheBottem2{width:1090px;overflow:visible; max-width:1100px}
.spaceOntheBottem{height:200px;margin-bottom:270px} */
/* .spaceOntheBottem2{padding-top:1px;padding-bottom: 100px;} */
.addmoreadd{margin-bottom:10px}
/* this controls the boxes in the center */
figure{border:solid;border-color:black;text-align:left;margin:0 0 1rem;margin-right:6px;margin-bottom:6px}
h3{border:solid;border-color:black;border-left:Solid;text-align:left;margin:0 0 1rem;margin-right:6px}
.image-grid{display:flex;margin:0 auto;justify-content:space-around;max-width:2000px}
.flex-parent{border:solid blue;width:7%;height:700px;padding:1%;margin:4px}
.flex-child{border:solid;border-color:green;width:26%;height:200px;margin-right:1px;margin-bottom:8px}
.flex-son{background-color:#4CAF50;border:none;color:white;padding:15px 32px;text-align:center;text-decoration:none;display:inline-block; font-size:16px;margin:4px 2px;cursor:pointer}
.flex-text { width: 40%; /* height: 700px; */ padding-bottom: 10px; }
.grand-parent{display:flex;border:solid red;width:100%;margin:1px}
.flex-text img{padding-right:10px;margin-right:10px}
.grand-dad{border:solid red;width:50%}
.flex-dad{column-gap:40px;width:10%}
/* this controls the slide show */
.image-on-the-left img{border:solid;position:absolute;position:relative;margin-right:6px;margin-left:0px}
.image-on-the-right img{border:solid;position:absolute;position:relative;margin-right:8px}
.Slides{float:left;border:solid}
/* this controls the drop down menu on top */
ul{background:white;list-style:none;margin:0;padding-left:0;text-align:left}
li{color:black;font-size:20px;display:block;float:left;padding-left:60px;position:relative;text-decoration:none;transition-duration:0.5s; text-align:left;width:80px}
li a{color:black;text-align:left}
li:focus-within a{outline:none;text-align:left}
ul li ul{background:white;visibility:hidden;opacity:0;min-width:5rem;position:absolute;transition:all 0.5s ease;margin-top:1rem;left:0; display:none;text-align:left}
ul li:active >ul,ul li:focus-within >ul,ul li ul:active,ul li ul:focus{visibility:visible;opacity:1;display:block;text-align:left}
ul li ul li{background-color:white;clear:both;padding-top:5px;left:80%;text-align:left;padding-left:0px;float:left}
.top-nav{z-index:+2;text-align:left}
.top-nav a{float:left;display:block;color:black;text-decoration:none;font-size:17px;text-align:left}
.top-nav a:hover{text-align:left;color:black}
.top-nav a.active{background-color:#2196F3;/* Vivid blue. */ color:white;text-align:left}
.top-nav .search-container{float:left;text-align:left}
/*-------------------------------------*/
.br-line-113{height:50px}
/* this controls the drop down menu on top ^ */
/*-------------------------------------- this controls the search bar ---------------------------------------------*/
.topnav .image-header input[type=text]{padding:6px;font-size:17px;text-align:left;width:900px;border:solid black 0.1px}
.search-bar{/* padding:20px 10px 10px 10px;margin:10px 10px 10px 20px;*/ top:355px}
.topnav .search-container button{text-align:left;float:left;background:#ddd;/* light shade of gray. */ font-size:17px;border:none;cursor:pointer}
.topnav .search-container button:hover{background:red}
/*#################################################Page 1############################################################################*/
.image-grid-2{display:flex;margin:0 auto;justify-content:space-around}
.image-grid-2 div{width:20%;margin-bottom:30px;margin-left:5px}
.flex-parent-2{ width:7%;height:700px;padding:1%;margin:4px;padding-top:0px;margin-top:0px}
.flex-child-2{ width:26%;height:200px;margin-right:1px;margin-bottom:8px}
.flex-son-2{background-color:#4CAF50;border:none;color:white;padding:15px 32px;text-align:center;text-decoration:none;display:inline-block;font-size:16px;margin:4px 2px;cursor:pointer}
.button{height:30px;width:250px;margin-left:20px}
.grand-parent-2{display:flex;width:100%;margin:1px;max-width:2000px}
.flex-text img{padding-right:10px;margin-right:10px}
.grand-dad-2{border:solid red;width:50%}
.flex-dad-2{column-gap:40px;width:10%}
.pic{width:700px;height:620px}
/*-----------------------------------------------------------------------Dropdown-------------------------------------------------------------------- */
.dropbtn-1{background-color:white;color:black;font-size:16px;border:Solid grey 1px;padding:11px 90px 10px 100px;margin:2px 30px 3px 20px}
.dropdown-1{position:relative;display:inline-block;padding:10px 10px 10px 10px;margin-left:30px}
.dropdown-content-1{display:none;position:absolute;background-color:#f1f1f1;min-width:160px;box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);z-index:1;padding:20px 70px 20px 20px;margin:1px 10px 100px 20px}
.dropdown-content-1 a{color:black;padding:12px 16px;text-decoration:none;display:block}
.dropdown-content-1 a:hover{border-bottom-color:grey;border-bottom-width:3px}
.dropdown-1:hover .dropdown-content-1{display:block}
.dropdown-1:hover .dropbtn-1{background-color:white;border-radius:4px}
.words-in-box{font-size:15px}
#hot2{border:solid;background:blue;width:100px;height:100px}
.around{border:solid black;max-width:399px; margin-top:10px;display:block}

/*--------------------------------------------------------------------------------------------*/
.circleBlackInBox{width:15px;height:30px;max-width:30px;padding-right:20px;border-radius:50%;border:Solid white;display:inline-block;background-color:black;box-shadow:0px 0 0 1px hsl(0,5%,5%),0 0 0 1px hsl(0,5%,5%);margin:0px 10px 0px 0px;margin-right:15px;margin-left:14px}
.circleBlackInBox:hover{border:solid white;border-color:white;box-shadow:0 0 0 3px hsl(0,1%,67%),0 0 0 1px hsl(0,5%,50%)}
.circleNavyInBox{height:30px;width:25px;max-width:30px;padding-right:5px;background-color:navy;border-radius:50%;display:inline-block;margin-right:80px;border:solid white;box-shadow:0 0 0 1px hsl(0,5%,5%),0 0 0 1px hsl(0,5%,5%)}
.circleNavyInBox:hover{border:solid white;border-color:white;box-shadow:0 0 0 3px hsl(0,1%,67%),0 0 0 1px hsl(0,5%,50%)}
.circleGreyInBox{height:30px;width:15px;max-width:30px;padding-right:20px;border-radius:50%;border:Solid white;display:inline-block;background-color:#36454f;/*---- Charcoal ----*/ box-shadow:0px 0 0 1px hsl(0,5%,5%),0 0 0 1px hsl(0,5%,5%);margin:0px 5px 0px 0px;margin-right:15px}
.circleGreyInBox:hover{border:solid white;border-color:white;box-shadow:0 0 0 3px hsl(0,1%,67%),0 0 0 1px hsl(0,5%,50%)}
/*----------------------------------------------------------------------------------------- */
.dropbtn-1{background-color:white;color:black;font-size:16px;border:none;cursor:pointer;padding:10px 100px 10px 100px;margin:0px 10px 0px 20px;border:solid black 1px}
.button12{border:solid black 1px;text-align:center;max-width:250px;margin-right:10px;margin-left:25px;padding-bottom:30px;padding-top:30px}
.myDropbtn-2{padding:10px 10px 10px 10px;margin:0px 0px 0px 10px;font-size:20px}
/*----------------------------------------------------------------------------------------*/
.dropbtn-1:hover,.dropbtn-1:focus{outline:none}
.dropdown-1{position:relative;display:inline-block}
.dropdown-content-1{display:none;position:absolute;background-color:white;min-width:260px;overflow:auto;box-shadow:0px 80px 16px 0px rgba(0,0,0,0.2);z-index:1;padding:12px 0px}
.dropdown-content-1 a{color:black;padding:10px 10px;text-decoration:none;display:block}
.dropdown-1 a:hover{border-bottom:solid black}
.show{display:block}
.fa-shopping-bag{float:right;margin-left:390px;padding-top:15px;color:black}
/*-------------------------------------------------------------------------------------------*/
.dropbtn-4{background-color:#3498DB;color:white;padding:16px;font-size:16px;border:none;cursor:pointer}
.dropbtn-4:hover,.dropbtn-4:focus{background-color:#2980B9}
.dropdown-4{position:relative;display:inline-block}
.dropdown-content-4{display:none;position:absolute;background-color:#f1f1f1;min-width:160px;box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);z-index:1;border-bottom:black}
.dropdown-content-4 a{color:black;padding:12px 16px;text-decoration:none;display:block}
.dropdown-content-4 a:hover{background-color:white;border-bottom:black}
/*--------------------------------------------------------------------------------*/
.dropbtn-44{background-color:white;color:black;font-size:16px;cursor:pointer;border:solid black 1px;width:400px;height:40px;word-break:break-all;margin-top:10%}
.dropdown-content-33{display:none; position:absolute; background-color:white; min-width:400px; overflow:auto;box-shadow:0px 80px 16px 0px rgba(0,0,0,0.2); z-index:1;padding:12px 0px;/* margin-top:10px;*/}
.dropdown-content-33{display:none;position:absolute;background-color:white;min-width:260px;overflow:auto;box-shadow:0px 80px 16px 0px rgba(0,0,0,0.2);z-index:1;padding:12px 0px}
.dropbtn-45{ background-color:white; color:black; font-size:16px; cursor:pointer; /* margin:0px 10px 0px 5px;*/ border:solid black 1px;width:400px; height:40px; word-break:break-all}
/*---------------------------------------.dropbtn-3-----------------------------------------*/ /* t    r    b     l */
.dropdown-33{position:relative;display:inline-block;padding:10px 10px 10px 10px;padding-left:0px}
.dropdown-33:hover .dropdown-content-33{display:block}
.dropbtn-33{background-color:white;color:black;font-size:16px;cursor:pointer;margin:0px 10px 0px 5px;border:solid black 1px;width:250px;height:40px;word-break:break-all}
.dropbtn-33:hover,.dropbtn-33:focus{outline:none}
.dropdown-content-33{display:none;position:absolute;background-color:white;min-width:260px;overflow:auto;box-shadow:0px 80px 16px 0px rgba(0,0,0,0.2);z-index:1;padding:12px 0px}
.dropdown-content-33 a{color:black;padding:10px 10px;text-decoration:none;display:block;width:380px}
.dropdown-33 a:hover{border-bottom:solid black}
/*--------------------------------------------------------------------------------*/
.dropbtn-2{background-color:white;color:black;font-size:16px;cursor:pointer;margin:0px 10px 0px 5px;border:solid black 1px;width:250px;height:40px;word-break:break-all}
/*---------------------------------------.dropbtn-3-----------------------------------------*/ /* t    r    b     l */
.dropdown-3{position:relative;display:inline-block;padding:10px 10px 10px 10px;padding-left:0px}
.dropdown-3:hover .dropdown-content-3{display:block}
.dropbtn-3{background-color:white;color:black;font-size:16px;cursor:pointer;margin:0px 10px 0px 5px; border:solid black 1px;width:250px;height:40px;word-break:break-all}
.dropbtn-3:hover,.dropbtn-3:focus{outline:none}
.dropdown-content-3{display:none;position:absolute;background-color:white;min-width:260px;overflow:auto;box-shadow:0px 80px 16px 0px rgba(0,0,0,0.2);z-index:1;padding:12px 0px}
.dropdown-content-3 a{color:black;padding:10px 10px;text-decoration:none;display:block}
.dropdown-3 a:hover{border-bottom:solid black}
 /* t    r    b     l */
.hamburger-3{font-size:27px;margin-left:370px;text-align:right;line-height:0.8}
/*--------------------------------------------------------*/
/* this controls the drop down menu on top */
.top-nav-42{text-align:left;z-index:+2}
.top-nav-42 a{float:left;display:inline-block;color:black;padding:14px 30px;text-decoration:none;font-size:17px;text-align:left}
.top-nav-42 a:hover{text-align:left;color:black}
.top-nav-42 a.active{background-color:#2196F3;/* Vivid blue. */ color:white;text-align:left}
.top-nav-42 .search-container-42{float:left;text-align:left}
.top-nav-42{font-family:monospace;text-align:left}
/* this controls the drop down menu on top ^ */
.return-button{width:500px;padding-left:20px;padding-top:150px}
/*--------------------------item-amount-selcter-box-----------------------------*/
.item-amount-selcter-box{padding:0px 10px 8px 10px;margin-left:1px}
input.d5q9J{height:30px;width:30px;margin-top:6px}
input {
    height: 30px;
    width: 1000px;
    margin-top: 30px;
    margin-bottom: 20px;
}
/*----------------------button-add-to-cart-----------------------------*/
button.button-add-to-cart{background-color:black;color:white;padding:20px 40px 30px 50px;margin-left:20px; background-repeat:no-repeat;border:solid grey;cursor:pointer;width:300px;overflow:hidden;outline:none;height:35px;font-size:20px}
/*--------------------------------------------------------------------------*/
button.searchBar{width:100px;height:35px;background-color:white}
/* ######################################################################ABOUT PAGE##################################################################### */
.shopping-1{float:right;color:black}
/* this controls the boxes  */
.figure{text-align:left;margin:0 0 1rem}
/*---------------------------------------.dropbtn-4-----------------------------------------*/
 /* t    r    b     l */
.dropdown-4{position:relative;display:inline-block;padding:10px 10px 10px 10px;margin-left:3px}
.dropdown-4:hover .dropdown-content-4{display:block}
.dropbtn-4{background-color:white;color:black;font-size:16px;cursor:pointer;margin:0px 10px 0px 5px; border:solid black 1px;width:450px;height:40px;word-break:break-all}
.dropbtn-4:hover,.dropbtn-4:focus{outline:none}
.dropdown-content-4{display:none;position:absolute;background-color:white;min-width:260px;overflow:auto;box-shadow:0px 80px 16px 0px rgba(0,0,0,0.2);z-index:1;padding:12px 0px}
.dropdown-content-4 a{color:black;padding:10px 10px;text-decoration:none;display:block}
.dropdown-4 a:hover{border-bottom:solid black}
.hamburger-3{font-size:27px;margin-left:370px;text-align:right;line-height:0.8}
/* --------------------------------------------------------------------------------------------------- */
.adaptive5{height:500px;}
.inAdaptive2{height: 300px; margin-top: 20px; margin-left: 5px;}
.inAdaptive35{margin-top:340px;}
.flex-parent-3{/* height:700px;*/ padding:1%;margin:4px;padding-top:0px;margin-top:0px;display:inline-block; /* direction:ltr;*/ width FONT-VARIANT:JIS78;/* width:7%;*/}
.flex-child-3{width:26%;height:200px;margin-right:1px;margin-bottom:8px;display:inline-block}
h2{width:370px}
img#imgToSwitch5{width:409px}
.ResponsivBox{border:solid;margin-bottom:10px}
.circle{display:inline-block;width:410px}
img#imgToSwitch8{margin-left:56px}
img#imgToSwitch7{margin-left:30px}
/* ------------------------------------------------------------ */
@media screen and (max-width:415px){img{width:100%}
}
/*------------------------------------*/
/* @media screen and (min-width:415px){.dan,.image-header,{height:0px;margin-top:0px}
}
@media screen and (max-width:415px){div.HideThis,.image-header-42,.image-grid,div.topnav,div.image-header,  div.image-header-42{visibility:hidden;display:none}
}
@media screen and (min-width:600px){div.example,div.container{visibility:hidden;display:none}
}
*/

.spaceOntheBottem {
    display: inline-block;
    margin: 10px;
    max-width: 266px;
}

.onTheBottem2 {
    margin-left: 190px;
}

@media screen and (max-width:415px){img{width:100%} }
/*------------------------------------*/
@media screen and (min-width:415px){.dan,.image-header,{height:0px;margin-top:0px} }

@media screen and (max-width:415px){.HideThis1,.image-header-42,.image-grid,div.topnav,div.image-header,div.image-header-42{visibility:hidden;display:none} }

@media screen and (min-width:600px){div.HideThis,div.example,div.container{visibility:hidden;display:none} }

@media screen and (max-width: 1500px) and (min-width: 600px) { div#right-carousel { display: none; } }

@media screen and (max-width: 1024px) and (min-width: 600px){input { width: 600px; margin-top: 20px;} }

@media screen and (min-width:600px){button.searchBar { width: 70px;} }

@media screen and (max-width: 1024px) and (min-width: 600px){li { padding-left: 30px;} }

@media screen and (max-width: 1500px) and (min-width: 600px) {figure { max-width: 265px; } }
